.jumbo {
  padding-top: 4rem;
  background-color: #d1f3fa;
}
.row .card:hover {
  box-shadow: 5px 5px 5px #ffffff;
  transform: scale(1.1);
}
#skill {
  background-color: #d1f3fa;
}
#kontak {
  background-color: #d1f3fa;
}
section {
  padding-top: 5rem;
}
#footer {
  background-color: #0dcaf0;
}
